@font-face {font-family: 'Novecentowide-Light';src: url('webfonts/27DA7B_0_0.eot');src: url('webfonts/27DA7B_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/27DA7B_0_0.woff') format('woff'),url('webfonts/27DA7B_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-Normal';src: url('webfonts/27DA7B_1_0.eot');src: url('webfonts/27DA7B_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/27DA7B_1_0.woff') format('woff'),url('webfonts/27DA7B_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-Medium';src: url('webfonts/27DA7B_2_0.eot');src: url('webfonts/27DA7B_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/27DA7B_2_0.woff') format('woff'),url('webfonts/27DA7B_2_0.ttf') format('truetype');}
 
* {margin: 0; padding: 0; border: 0;}

body {
	width: 100%;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a img#btt {
	position: fixed;
	right: 50px;
	top: 600px;
	width: 50px;
	height: 50px;
	z-index: 9999;
}

.hidden {
	display: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.header-container {
	position: fixed;
	height: 90px;
	background-color: #1c1c1c;
	width: 100%;
	margin: 0;
	z-index: 9999;
}

.header {
	width: 960px;
	margin: 0 auto;
	background-color: #1c1c1c;
	height: 90px;
}

#logo img {
	float: left;
	margin-top: 16px;
}

nav ul {
	list-style-type: none;
	position: relative;
	float: right;
}

nav ul li {
	float: left;
	display: block;
	margin-top: 32px;
}

nav ul li a {
	color: white;
	padding: 35px 16px;
	text-decoration: none;
}

nav ul li a.last {
	padding: 35px 0px 35px 16px;
}

.active {
	text-decoration: underline;
}

nav ul li a:hover {
	text-decoration: underline;
}

#banner {
	height: 884px;
}

#banner img {
	max-width: 100%;
	width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	position: relative;
	padding-top: 90px;
}

#banner img#down {
	position: absolute;
	top: 700px;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	left: 50%;
}

.intro {
	position: relative;
	height: 246px;
	background-color: #feba33;
}

.intro span {
	color: #000;
}

.intro p {
	width: 960px;
	margin: 0 auto;
	color: #fff;
	font-size: 40px;
	padding-top: 72px;
	font-family: 'Arial';
	font-weight: bold;
}

.intro a {
	color: #000;
	text-decoration: none;
}

.intro a:hover {
	text-decoration: underline;
}

#about-container {
	width: 960px;
	margin: 0 auto;
	position: fixed; /*use left: 0 and right:0 to center absolutely positioned div*/
	left: 0;
	right: 0;
	background-color: #fafafa;
	top: 20.5%;
	display: none;
	z-index: 5;
}

#about-container #about-text {
	width: 430px;
	float: left;
	padding: 20px;
}

#about-container #about-text h2 {
	font-size: 26px;
	font-family: 'Novecentowide-Normal';
	padding-bottom: 24px;
}

#about-container #about-text a {
	color: #000;
}

#about-container #about-text a:hover {
	color: #c04033;
}

#about-container #picture {
	width: 450px;
	float: right;
	padding: 20px 40px 20px 0;
}

.portfolio-text {
	position: relative;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 72px 0px;
}

.portfolio-text h2 {
	font-size: 48px;
	padding-bottom: 36px;
}

.portfolio-text p {
	font-size: 18px;
}

/*--------------------------------------------------------BUTTONS------------------------------------------------------------*/

.buttons {
	width: 100%;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
	background: -moz-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
	background: -o-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
	background: -ms-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
	background: gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));

	background: -webkit-gradient(linear, left bottom, left top, from(#f0f0f0), to(#fafafa));
	background: -moz-gradient(linear, left bottom, left top, from(#f0f0f0), to(#fafafa));
	background: -o-gradient(linear, left bottom, left top, from(#f0f0f0), to(#fafafa));
	background: -ms-gradient(linear, left bottom, left top, from(#f0f0f0), to(#fafafa));
	background: gradient(linear, left bottom, left top, from(#f0f0f0), to(#fafafa));
}

.buttons ul {
	text-align: center;
	list-style-type: none;
	font-size: 0; /*resolves issue of space between inline-block elements. */
}

.buttons ul li {
	display: inline-block; /*must target the parent's font-size to fix space issue*/
	position: relative;
	z-index: 0;
	padding: 36px;
}

.buttons ul span {
	position: absolute;
	left: -9999px;
}

.buttons ul img {
	z-index: 50;
	cursor: pointer;
}

.buttons ul li:hover span {
	cursor: pointer;
	padding: 36px;
	top: 0;
	left: 0;
	background-color: #feba33;
}

.buttons ul li.button_active1 span {
	cursor: pointer;
	padding: 36px;
	top: 0;
	left: 0;
	background-color: #feba33;
}

.buttons ul li.button_active2 span {
	cursor: pointer;
	padding: 36px;
	top: 0;
	left: 0;
	background-color: #feba33;
}


/*------------------------------------------------ALBUM CONTAINER-----------------------------------------------------*/

.album-container {
	width: 960px;
	margin: 0 auto;
	padding: 36px 0 72px 0;
}

.album-container ul {
	list-style-type: none;
	font-size: 0; /*removes white space between inline-block elements*/
}

.album-container ul li {
	display: inline-block;
	vertical-align: top;
	display: -moz-inline-stack;
	zoom: 1;
    *display: inline;
    _height: 308px;
    position: relative;
}

.album-container ul li.left-side {
	margin-right: 32px;
}

.album-container ul li.top {
	margin-bottom: 36px;
}

.album-container ul li a {
	opacity: 1;
	position: relative;
	z-index: 10;
}

.album-container ul li:hover a {
	opacity: .5;
	-webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
	transition: opacity .35s ease-in-out;
} 

.album-container ul li a:hover p {
	display: block;
	opacity: 1;
}

.album-container ul li p.label {
	position: absolute;
	top: 138px;
	z-index: 100;
	font-size: 28px;
	opacity: 0;
	text-decoration: none;
	color: #000;

	-webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
	transition: opacity .35s ease-in-out;
}

.album-container ul li:hover p.label {
	opacity: 1;
}

.album-container ul li p.label:hover {
	cursor: pointer;
}

.album-container ul li p.seven {
	left: 168px;
}

.album-container ul li p.four {
	left: 194px;
}

#design-port {
	display: none;
}

/*--------------------------------------------------CLIENT CONTAINER--------------------------------------------------------*/

.client {
	position: relative;
	width: 100%;
	height: 300px;
	padding-bottom: 36px;
}

.client .client-container {
	width: 960px;
	margin: 0 auto;
}

.client img#bg {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.client img#boxes {
	position: absolute;
	z-index: 100;
	margin-top: 108px;
}

.client h2 {
	position: relative;
	text-align: center;
	z-index: 101;
	color: #fff;
	top: 72px;
}

/*-----------------------------------------------------SERVICES CONTAINER-------------------------------------------------*/


.service-text {
	position: relative;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 72px 0px;
}

.service-text h2 {
	font-size: 48px;
	padding-bottom: 36px;
}

.service-text p {
	font-size: 18px;
}

#photography-temp {
	display: none;
}

.service-block {
	width: 960px;
	margin: 0 auto;
	padding-top: 36px;
}

.service-block span {
	font-size: 20px;
	font-family: 'Novecentowide-Medium';
	line-height: 30px;
}

.service-block .left-content {
	position: relative;
	float: left;
	width: 460px;
	padding: 0 10px;
}

.service-block .right-content {
	position: relative;
	float: right;
	width: 460px;
	padding: 0 10px;
}

.service-block .left-content img {
	display: block;
	margin: auto;
	padding-bottom: 18px;
}

.service-block .right-content img {
	display: block;
	margin: auto;
	padding-bottom: 18px;
}

.service-block .left-content h3 {
	text-align: center;
	font-family: 'Novecentowide-Medium';
	font-size: 28px;
	padding-bottom: 18px;
}

.service-block .right-content h3 {
	text-align: center;
	font-family: 'Novecentowide-Medium';
	font-size: 28px;
	padding-bottom: 18px;
}

.service-block .left-content  {
	padding: 10px;
}

.service-block .right-content  {
	padding: 10px;
}

#photography-service {
	display: none;
}

/*-------------------------------------------------------SLOGAN---------------------------------------------------------*/

#slogan {
	width: 100%;
	background-color: #feba33;
	position: relative;
	top: 36px;
}

#slogan #slogan-container {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 64px;
}

#slogan p {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
}

#slogan span {
	color: #000;
}

/*-----------------------------------------------------------PRINTS------------------------------------------------------*/

.prints-container {
	position: relative;
	width: 100%;
	top: 36px;
	height: 627px;
}

.prints-container img {
	position: absolute;
	width: 100%;
}

.prints {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-top: 36px;
}

.prints img {
	left: 43%;
	width: auto;
}

.prints-container .prints h2 {
	position: relative;
	color: #fff;
	font-size: 48px;
	font-family: 'Novecentowide-Medium';
	padding-bottom: 36px;
}

.prints-container .prints p {
	position: relative;
	color: #fff;
	padding-bottom: 36px;
}

/*-----------------------------------------------------------CONTACT------------------------------------------------------*/

.contact-container {
	width: 100%;
	position: relative;
	height: 843px;
	top:0;
}

.contact-container img {
	opacity: .5;
	position: absolute;
	width: 100%;
}

.contact-container .contact {
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding-top: 36px;
	text-align: center;
}

.contact-container .contact h2 {
	font-size: 48px;
	font-family: 'Novecentowide-Medium';
}

.contact-container .contact p#contact-text {
	width: 480px;
	margin: 0 auto;
}

.contact-container .contact h2 + p#contact-text {
	margin-top: 36px;
}

.contact-container .contact span {
	font-size: 18px;
	font-family: 'Novecentowide-Medium';
}

.contact-info {
	margin-top: 36px;
	width: 180px;
	float: left;
	text-align: left;
}

.contact-form {
	margin-top: 36px;
	width: 680px;
	float: right;
}

#form-div {

}
.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: transparent;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(221,221,221,.4);
}

.feedback-input:focus{
	background: transparent; 
	box-shadow: 0;
	border: 3px solid #feba33;
	color: #000;
	outline: none;
  	padding: 13px 13px 13px 54px;
}

.focused{
	color:#feba33;
	border:#feba33 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 350px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:transparent;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:right;
	width: 25%;
	border: #fff solid 4px;
	cursor:pointer;
	background-color: transparent;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
 	margin-top:-4px;
  	font-weight:700;
}

#button-blue:hover{
	background-color: #feba33;
	color: #fff;
}
	
.submit:hover {
	color: #feba33;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

/*-----------------------------------------------------------FOOTER------------------------------------------------------*/
.footer {
	position: relative;
	width: 100%;
}

.footer p + p {
	margin-top: -28px;
}

#social-menu {
	position: relative;
	width: 100%;
	float: left;
	background-color: #2d2d2d;
	text-align: center;
	height: 124px;
}

#social-menu-wrapper {
	width: 400px;
	margin: 0 auto;
}

#social-menu-wrapper img {
	display: block; /*gets ride of white space in between multiple image elements*/
	float: left;
	padding: 36px 36px;
	border-left: 1px solid #808080;
}

#social-menu-wrapper img#fb {
	padding: 36px 50px;
}

#social-menu-wrapper img:hover {
	background-color: #feba33;
}

#last {
	border-right: 1px solid #808080;
}

.copyright-container {
	width: 100%;
	background-color: #1c1c1c;
}

.copyright {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.copyright img {
	padding-top: 36px;
	padding-bottom: 24px;
}

.copyright p {
	color: #fff;
	font-family: 'Novecentowide-Light';
	padding-bottom: 36px;
	font-size: 14px;
}

/*-------------------------------------------------DESIGN PORTFOLIO PAGES-------------------------------------------------------*/

.design_container {
	width: 960px;
	margin: 0 auto;
	padding-top: 124px;
}

.description {
	width: 240px;
	float: left;
	padding-right: 30px;
}

.description h2 {
	font-family: 'Novecentowide-Medium';
}

.description p {
	padding-top: 18px;
}

.description span {
	font-weight: bold;
}

.description a {
	text-decoration: none;
	color: #c04033;
}

.description a:hover {
	text-decoration: underline;
}

.nav-links {
	position: absolute;
	top: 496px;
	font-size: 17px;
}
